<div id="container">
</div>

<script type="text/javascript">
  var artistId = <%= params[:artist_id] %>;
  var boardId = <%= params[:board_id] %>;

  $(function() {
      App.init({boardId: boardId, artistId: artistId});
  });
</script>