.bundle
db/*.sqlite3
log/*.log
tmp/

public/stylesheets/.sass-cache/d360bd39e64861c43cf11f1d9bf195dc48564e6c/app.scssc

public/stylesheets/.DS_Store

.sass-cache/d360bd39e64861c43cf11f1d9bf195dc48564e6c/app.scssc

.DS_Store
