  <div id='upper' class='ui-layout-north'>
    <div id='presense'>
    </div>

    <div id='menu-bar'>
      <ul>
      </ul>
    </div>

    <div id='stencils'>
    </div>
  </div>

  <div id='tool-pallete'  class='ui-layout-west'>
    Tools
  </div>

  <div id='workspace'  class='ui-layout-center'>
    <div id='board'></div>
    <div id='timeline'></div>
  </div>

  <div id='right-sidebar'  class='ui-layout-east'>
    <div id='properties'></div>
  </div>
