<div class='title'>Properties</div>

<div id='shape-color'>
  <label>Color:</label><span class='color-picker'></span>
</div>

<div id='rotation'>
  <label>Rotation</label><span class='rotation-picker'></span>
</div>

