
<div id='stencils'>

  <div id="tabs">
     <ul>
        <li><a href="#tabs-1">Common</a></li>
        <li><a href="#tabs-2">People</a></li>
        <li><a href="#tabs-3">Buildings</a></li>
     </ul>

     <div id="tabs-1">
     </div>
     <div id="tabs-2">
        <p>Tab 2 content</p>
     </div>
     <div id="tabs-3">
        <p>Tab 3 content</p>
     </div>
  </div>

</div>